@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/AllertaStencil-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}